
    

header{
    background-image: url(images/Banner\ Image.png);
    height: 600px;
   margin: auto;
     max-width: 1320px;
     border-radius: 16px;

}
.banner{color: white;
    text-align: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
#banner-title{
    
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 0%;
margin-top: 100px;
margin-top: 170px;



}
#banner-text{
    width: 632px;
    margin: auto;
    
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;

}